# .NET build files

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# Visual Studio Code
.vscode/
.vscode/*
.vscode-oss/
.vscodesettings/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
.idea/*

# MacOS files
.DS_Store

# Logs
*.log

# Output directories


# Docker files


# Git folders for Asset Pipeline
[Tt]emp/