<div class="social-icons">
    <MudLink Href="https://www.facebook.com" Target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.Facebook" Size="Size.Small" Style="color: #27b992;"/>
    </MudLink>
    <MudLink Href="https://www.x.com" Target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.X" Size="Size.Small" Style="color: #27b992;"/>
    </MudLink>
    <MudLink Href="https://www.instagram.com" Target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.Instagram" Size="Size.Small" Style="color: #27b992;"/>
    </MudLink>
    <MudLink Href="https://www.linkedin.com" Target="_blank">
        <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Small" Style="color: #27b992;"/>
    </MudLink>
</div>

<style>
    .social-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
    align-items: center;
}
</style>