@page "/contato"
@using MudBlazor

<MudContainer MaxWidth="MaxWidth.Medium" Class="my-8">
    <!-- Título da Página -->
    <h1 class="mb-4" style="text-align: center;">Entre em Contato Conosco</h1>

    <!-- Descrição -->
    <MudText Typo="Typo.body1" Class="mb-4">
        Tem alguma dúvida, sugestão ou precisa de ajuda? Utilize um dos nossos canais de contato. Responderemos o mais rápido possível!
    </MudText>

    <!-- Canais de Contato -->
    <MudText Typo="Typo.h5" Class="mt-6 mb-2" Align="Align.Center"
     GutterBottom="true">Canais de Contato</MudText>
    <MudList T="string">
        <MudListItem>
            <MudText Typo="Typo.body1" Align="Align.Center">
                <MudLink Href="mailto:suportecalculafacil@gmail.com">📩 suportecalculafacil@gmail.com
                </MudLink>
            </MudText>
        </MudListItem>
    </MudList>
</MudContainer>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        await AdicionarAoIndice();
    }
    private async Task AdicionarAoIndice()
    {
        var novaPagina = new Pagina
        {
            Titulo = "Contato",
            Link = "/contato",
            Conteudo = "Pagina de contato com o desenvolvedor do site."
        };

        await IndiceManager.AdicionarPaginaAsync(novaPagina);
    }
}