@page "/"

@using MudBlazor

<PageTitle>Calcula Fácil</PageTitle>

<body>
<div class="container">
    <div class="text-center my-2">
        <img src="images/logo_calcula_facil.png" alt="Logo Calcula Fácil" class="img-fluid" style="max-width: 200px;" />
        <h1>Bem-vindo ao Calcula Fácil!</h1>
        <p class="lead">Seu site para facilitar os cálculos do dia a dia.</p>

        <!-- Campo de Pesquisa -->
        <div class="search-container">
            <Pesquisa Dados="paginas" Label="🔍 Precisa de algo? Pesquise aqui!" />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" style="color:#232629; background-color: #f8f9fad5">
                    <h5 class="card-title" style="text-align: center;">Por que usar o Calcula Fácil?</h5>
                    <p class="card-text">Nosso objetivo é ajudar você a realizar cálculos de forma rápida e prática, simplificando sua rotina.</p>
                    <p>Acesse nosso menu lateral (ou acima se estiver no celular) e explore as opções de cálculos!!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center my-2">
        <h3>📢 Temos propagandas!</h3>
        <p class="text-muted">Porque até nós precisamos pagar as contas, né? 😄</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="ad-space">
                <!-- Espaço para propagandas -->
                <p>Espaço reservado para propaganda interessante!</p>
            </div>
        </div>
    </div>
</div>

</body>

<style>
    .container {
        max-width: 800px;
        margin: auto;
    }
    .ad-space {
        background-color: #f8f9fad5;
        border: 1px dashed #232629;
        padding: 20px;
        text-align: center;
        color:#232629;
        font-style: italic;
    }
    .search-container {
        margin-top: 15px;
        margin-bottom: 20px;
    }
</style>

@code {
    #region Pesquisa
    private List<Pagina> paginas = new();

    protected override async Task OnInitializedAsync()
    {
        paginas = await IndiceManager.ObterIndiceAsync();
    }
    #endregion
}